# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ConsoleApplication/.vs/ConsoleApplication/FileContentIndex/bc087fca-c59f-497c-9651-3126dcaed289.vsidx
/ConsoleApplication/.vs/ConsoleApplication/FileContentIndex/840de652-d1b9-4f12-b045-05dab973cc7c.vsidx
/ConsoleApplication/.vs/ConsoleApplication/FileContentIndex/576d4479-c496-4c21-99c5-2baadf3941b5.vsidx
/ConsoleApplication/.vs/ConsoleApplication/FileContentIndex/13faec4e-e8d0-4a46-9809-794ccd29badc.vsidx
